/* Color for attention: #e62739*/
body{
	 background:url("../media/images/background.jpg"); top right no-repeat; background-attachment:fixed; height: 100%;
}

 body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../media/images/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	font-family: natureFont;
	color: #334;
}
p{

	color: #333;
}
@font-face {
	font: bold;
    font-family: natureFont;
    src: url("../fonts/titleFont.ttf");
}

.navbar{
	background-color: #334;
	border-collapse: #444
}
.navbar .navbar-brand {
    color: #e1e8f0;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #fff;
}
.navbar .navbar-text {
	color:#223;
}
.jumbotron{
	background-color: rgba(102,51,0,0.5);
	box-shadow: 5px 5px 20px 10px rgba(85,34,0,0.7);

}
.jumbotron > .page-header{
	color:#f5f5f5;
	border-bottom-color: #ddd;
}
.jumbotron > p{
	color:#eee;
}
.jumbotron > p >a{
	color: #444;
}
.jumbotron > p >a:hover{
	color: #333;	
}
.page-header {
	border-bottom-color: #888;
}
.about-caption{
	min-width: 300px;
	max-width: inherit;
}
.page-container{
	background-color: rgba(225,232,240,0.4);
	min-height: 100%;
	height: relative;
	box-shadow: 15px 15px 25px 0px rgba(205,212,220,0.20) ;
}
	
.cb-container{
	width:600px;
	height:relative;
	margin: auto;
}
.consultant-box{

	max-width:300px;
	float: left;
	width:300px;
}
.cb-image{
	min-height: 300px;
	max-height:300px;
	max-width: 300px;
	min-width: 300px;
	width: 300px;
	height: 300px;
	padding: 25px;
}
.about-caption{
	text-align: center;
	max-width:300px;
}
.about-caption > h4,p,ul{
	text-align: left;
}